<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Internet Apps 1</title>
</head>

<body>
    <div id="app">
        <h1>AWS Cloud database app</h1>
        <button v-on:click=this.console.log('Hi')>Create database</button>
        <br>
        <input v-model="movieName" placeholder="Movie Name">
        <input v-model="movieYear" placeholder="Year">
        <button v-on:click=this.console.log('Hi')>Query database</button>
        <br>
        <button v-on:click=this.console.log('Hi')>Delete database</button>
        <template>
        </template>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "Hello test",
                search: "",
                movieName:"",
                movieYear:""
            },
            methods:{
                
            }
        })
    </script>
</body>

</html>