<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Internet Apps 1</title>
</head>

<body>
    <div id="app">
        <h1>AWS Cloud database app</h1>

        <p v-if="tableCreated">The table is created!</p>
        <p v-else>The table is not created!</p>

        <button v-on:click=create>Create database</button>
        <button v-on:click=deleteDB>Delete database</button>
        <br>
        <button v-on:click=query>Query database</button>
        <input v-model="movieName" placeholder="Movie Name">
        <input v-model="movieYear" placeholder="Year">
        <br>
        <p v-if="badInput">No results, try again.</p>
        <br>
        <span v-if="receivedData">
            <div class=lists v-for="item in movieData">

                <div class=movieInfo>
                    <table class=infoTable>
                        <tr v-for="i in 8">
                            <td>{{rowNames[i-1]}} </td>
                            <td>{{item[i-1]}}</td>
                        </tr>
                    </table>
                    <div class=imageDiv>
                        <img v-bind:src="item[8]">
                    </div>
                </div>

            </div>
        </span>
    </div>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            mounted: function () {
                this.check(); // On page load call function
            },
            data: {
                tableCreated: false,
                message: "Hello test",
                receivedData: false,
                search: "",
                movieName: "",
                len: 0,
                badInput: false,
                movieYear: "",
                rowNames: ["Title", "Release Year", "Plot", "Genres", "Actors", "Director(s)", "Rating",
                    "Running Time(mins)"
                ],
                movieData: [],
                imageSrcArr: [],
            },
            methods: {
                create: createDB,
                query: queryDB,
                deleteDB: deleteDB,
                check: checkDB
            }
        })


        function createDB() {
            let p = fetch('/create');
            p.then(response => response.json())
                .then(response => {
                    if (response["message"] === "Ok") {
                        this.tableCreated = true;
                        console.log("Database created and data uploaded!");
                    } else
                        console.log(response["message"]);
                });
        }

        function queryDB() {
            let name = this.movieName;
            let year = this.movieYear;

            let p = fetch(`/query/${name}/${year}`);
            p.then(response => response.json())
                .then(response => {

                    if (response["message"] === "Error 400: Bad Request") {
                        console.log("Query Failed");
                        this.badInput=true;
                    } else {
                        this.badInput=false;
                        this.receivedData = true;
                        this.movieData = [];

                        let movies = response.data.Items;
                        let numMovies = 0;

                        for (const movie of movies) {

                            numMovies++;
                            let movieInfo = [];
                            movieInfo.push(movie["title"]);
                            movieInfo.push(movie["year"]);
                            movieInfo.push(movie["info"]["plot"]);
                            movieInfo.push(movie["info"]["genres"].toString());
                            movieInfo.push(movie["info"]["actors"].toString());
                            movieInfo.push(movie["info"]["directors"].toString());
                            movieInfo.push(movie["info"]["rating"]);
                            movieInfo.push(movie["info"]["running_time_secs"] / 60);
                            movieInfo.push(movie["info"]["image_url"]);
                            this.movieData.push(movieInfo);
                        }
                        this.len = numMovies;
                    }
                });
        }

        function deleteDB() {
            let p = fetch('/delete');
            p.then(response => response.json())
                .then(response => {

                    if (response["message"] === "Ok") {
                        console.log("Table deleted");
                        this.tableCreated = false;
                        this.imageSrc = null;
                        this.movieData = null;
                        this.receivedData = false;
                    } else {
                        console.log("Failed to delete table");
                    }
                });
        }
        //Function called on window load to check if the table already exists
        function checkDB() {

            let p = fetch('/check');
            p.then(response => response.json())
                .then(response => {
                    this.tableCreated = response["exist"];
                });
        }
    </script>
</body>

</html>