<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Internet Apps 1</title>
</head>

<body>
    <div id="app">
        <h1>AWS Cloud database app</h1>

        <button v-on:click=create>Create database</button>
        <br>
        <button v-on:click=query>Query database</button>
        <input v-model="movieName" placeholder="Movie Name">
        <input v-model="movieYear" placeholder="Year">
        <br>
        <button v-on:click=deleteDB>Delete database</button>
        <br>
        </template>
        

            <div class="movieInfo">

                <p v-for="item in movieData">
                    {{item}}
                </p>
                <img v-bind:src="imageSrc">
            </div>
    </div>
    </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "Hello test",
                search: "",
                movieName: "",
                movieYear: "",
                tableCreated: false,
                movieData: [],
                imageSrc: ''
            },
            methods: {
                create: createDB,
                query: queryDB,
                deleteDB: deleteDB,
            }
        })


        function createDB() {
            let p = fetch('/create');
            p.then(response => response.json())
                .then(response => {
                    if (response["message"] == "Ok") {
                        this.tableCreated = true;
                        console.log("Database created and data uploaded!");
                    } else
                        console.log(response["message"]);
                });
        }

        function queryDB() {
            let name = this.movieName;
            let year = this.movieYear;

            let p = fetch(`/query/${name}/${year}`);
            p.then(response => response.json())
                .then(response => {

                    //console.log(response.data.Items["year"]);
                    if (response["message"] === "Error 400: Bad Request") {
                        console.log("Query Failed");
                    } else {
                        let movie = response.data.Items;
                        console.log(movie);
                        this.imageSrc = movie[0]["info"]["image_url"];
                        console.log(this.imageSrc);
                        this.movieYear = null;
                        this.movieName = null;
                        this.movieData = movie[0]["info"];
                    }
                });
        }

        function deleteDB() {
            let p = fetch('/delete');
            p.then(response => response.json())
                .then(response => {

                    if(response["message"] === "Ok"){
                        console.log("Table deleted");
                        this.tableCreated = false;
                        this.imageSrc = null;
                        this.movieData = null;
                    }
                    else{
                        console.log("Failed to delete table");
                    }
                });
        }
    </script>
</body>

</html>